.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    background-color: #2F6690;


    &__logo{
        margin: .25rem 1rem;
        height: 3rem;
    }
    &__nav{
        position: absolute;
        // transform: translateX(-50%);
        transform: translateX(50%);
        right: 50%;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    &__link{
        margin: 1rem 1rem;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.2rem;
        color: #D9DCD6;
    }
    &__copy{
        margin-right: 0 1rem;
    }
    &__copy-text{
        position: absolute;
        right: 1rem;
        // align-self: center;
        // margin: 0 1rem;
        color: #D9DCD6;
    }
}