.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title{
        font-family: 'Open Sans';
        margin: .5rem;
        font-size: 6rem;
        color: #16425B;
    }
    &__sub-text{
        text-align: center;
        margin: .5rem;
        font-size: 2rem;
        color: #3A7CA5;
    }
    &__button{
        font-weight: 700;
        margin: 1rem;
        padding: .5rem 5rem;
        border-radius: 4px;
        border: none;
        // border:  2px solid black;
        color: #fff;
        background-color: #3A7CA5;
    }
    &__pic-div{
        padding: 2rem;
        background-color: #BCBCBC;
        border: .25rem;
        border-radius: 4px;
    }
    &__image{
        max-height: 22rem;
    }
}